*.binpb
*.reapeaks
*.rpp-PROX
*.rpp-bak
*.tmp
*_pb2.py
*_pb2.pyi
*.exe
.godot/
*.pdb
/*.node_editor.json
/.export/
/.mypy_cache/
/.ruff_cache/
/.temp/
/Attacks_Animator.ini
/__MACOSX
/android/
/assets/art/src/main*.png
/assets/art/src/screenshots_processed/
/assets/level*/backups/
/imgui.ini
/jai
/src/.build/
/src/codegen/nolint/glib.gd
__pycache__/
node_modules/
tool_attack_animator_app_save_state.toml
